server {
    listen ${NGINX_PORT};
    server_name ${NGINX_HOST};
    location ~* \.php$ {
        include fastcgi_params_php;
    }

    root /var/www/public;
    index index.php index.html index.htm;
    client_max_body_size 64M;

    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
}